body{
  overflow:auto;
}
/* start nagivation */
ul > li {
  display: inline-table;
  /* padding-left: 2em; */
}
.navbar {
  background-image: url("imgs/nav.png");
  border: none;
  box-shadow: none;
  margin: 0 !important;
}

.navbar-noflex {
  display: block;
  padding: 0;
}

.navbar-noflex > ul {
  margin: auto;
}

.navbar-nav {
	height: 3em;
	padding-left: 4em;
}
.navbar-brand {
  font-weight: 500;
  font-size: 2em;
  line-height: 2em;
  color: white;
  text-decoration: none;
  letter-spacing: -1.5px;
}

a.navbar-brand {
  color: #ffffff;
}

.navbar-nav a {
  padding-left: 2rem;
  font-weight: bold;
  font-size: 13px;
  height: 70px;
  line-height: 40px;
  color: white;
  text-decoration: none;
}
.navbar-nav a:hover {
  text-decoration: underline overline;
}
.navbar-nav > a.active {
  text-decoration-line: underline;
  text-decoration-style: double;
}
.navbar-expand-lg {
  border-radius: 0;
  width: 100%;
  z-index: 1000;
}
/* end navigation */
/*start carousel*/
#carouselExampleIndicators .carousel-item img{
  max-width: 50vw;
  max-height: 50vh;
  margin-left: 15vw;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 3vw;
}
#carouselExampleIndicators .carousel-caption{
  text-align: left;
  top: 5vh;
  bottom: auto;
}
#carouselExampleIndicators .card {
  margin-top: 3vw;
  max-height: 50vh;
  border-style: solid;
  border-width: 7px;
  border-color: rgb(143, 142 , 199);
  padding-left: 5px;
  border-radius: inherit;
  margin-left: 2vw;
}
.mybtn{
  max-width: 113px;
  max-height: 39px;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 206, 34);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 92px;
  width: 92px;
  outline: rgb(99, 98, 167);
  background-size: 100%, 100%;
  border-radius: 50%;
  background-color: rgb(99, 98, 167);
  background-size: 2vw;
}

.carousel-control-next-icon:after
{
  content: '›';
  font-size: 55px;
  color: #ffffff;
}

.carousel-control-prev-icon:after {
  content: "‹";
  font-size: 55px;
  color: #ffffff;
}
/*end carousel*/
/*custom icons*/
#package{
  display: block;
  box-sizing: inherit;
  padding-left: 35vw;
  padding-top: 8vh;
  padding-bottom: 6vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  background-color: rgb(99, 98, 167);
}
#package i.fa-suitcase{
  color: rgb(245, 185, 68);
  padding-right: 3vw;
}
#package i.fa-rocket{
  color: rgb(106, 241, 208);
  padding-right: 3vw;
}
#package i.fa-leaf{
  color: rgb(198, 241, 106);
}
#package .aboveIcon{
  padding-right: 3vw;
}
/*end icons*/
@media only screen and (max-width: 767px) {
  .navbar-expand-lg {
    position: right;
    top: 0;
  }
  .navbar-brand {
    margin-left: 1em;
  }
  .navbar-toggler {
    margin-top: 15px;
  }
  .navbar-collapse {
    max-height: 300px;
    overflow-y: auto;
  }
  .navbar .navbar-nav a {
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 360px) {
  .navbar-expand-lg {
    position: fixed;
    top: 0;
  }
  .navbar-toggler {
    margin-top: 15px;
  }
  .navbar-collapse {
    max-height: 200px;
    overflow-y: auto;
  }
  .navbar .navbar-nav a {
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
    line-height: 15px;
  }
}
/* start copyright */
#copyright {
  padding: 4px;
  position: sticky;
  background: rgb(51, 51, 51);
}
#copyright p {
  font-weight: 2em;
  color: white;
  padding-left: 2vw;
}
/* end copyright */
